<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentos e Pagamento</title>
    <link rel="stylesheet" href="/css/telaposlogin.css">
</head>
<body>
    <div class="container">
        <section class="documentos">
            <h1>Documentos necessários:</h1>
            <div class="icones">
                <img src="/src/pdf.png" alt="PDF Icon">
                <p>DETRAN<br>Requerimento de vistoria</p>
                <img src="/src/pdf.png" alt="PDF Icon">
                <p>DETRAN<br>Requerimento de vistoria</p>
                <img src="/src/pdf.png" alt="PDF Icon">
                <p>DETRAN<br>Requerimento de vistoria</p>
                <img src="/src/pdf.png" alt="PDF Icon">
                <p>DETRAN<br>Requerimento de vistoria</p>
            </div>
            <a href="#" class="mostrar-mais">exibir mais arquivos</a>
        </section>

        <section class="contrato">
            <h2>Modelo de Contrato da Associação:</h2>
            <img src="/src/pdf.png" alt="PDF Icon">
            <p>Contrato Associados</p>
        </section>

        <section class="pagamento">
            <h2>Taxa mensal:</h2>
            <p>Você pode realizar seu pagamento utilizando o PIX. Siga o passo a passo abaixo:</p>
            <ol>
                <li>Acesse o aplicativo do seu banco.</li>
                <li>Procure pela opção PIX.</li>
                <li>Escolha uma das seguintes opções:</li>
            </ol>
            <div class="pix-opcoes">
                <div class="pix">
                    <h3>Pagamento via chave PIX:</h3>
                    <p>CNPJ: 34.703.610/0001-73</p>
                </div>
                <div class="qr-code">
                    <h3>Pagamento via QR Code:</h3>
                    <img src="/src/qr-code.png" alt="QR Code">
                </div>
            </div>
        </section>
    </div>
</body>
</html>
