@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
body {
  background-color: #fff; /* cor de fundo padrão */
  color: #484454; /* cor de texto padrão */
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.modo-noturno {
  background-color: #484454; /* cor de fundo para o modo noturno */
  color: #fff; /* cor de texto para o modo noturno */
}
</style>
<script>
	function toggleModoNoturno() {
  var body = document.body;
  body.classList.toggle("modo-noturno");
}

</script>
<body>
	  <button id="modo-noturno-btn" onclick="toggleModoNoturno()">Ativar/Desativar Modo Noturno</button>
<br><font color="black" style="Verdana" size=5><center>Sr. Transportadores, antes de levar seu veículo para as vistorias, faça uma breve avaliação geral em seu veiculo para facilitar o trabalho e agilizar seu tempo nos órgãos fiscalizadores, sendo assim segue abaixo principais.</center><br><br>
		<font style="Verdana" size=5><ul> <b><u>Download da lista dos documentos nescessários:</U> <br><br></b>
<li>DETRAN - Requerimento de vistoria:</li>	<form method="get" action="requerimento.pdf">	<button class="btn"><i class="fa fa-download"></i> Download</button></form>
<li>DETRAN - Protocolo de entrega de documentos:</li>	<form method="get" action="protocolo.pdf">	<button class="btn"><i class="fa fa-download"></i> Download</button></form>
<li>SETRANS/DETRAN - Relação de documentos para vistoria:</li>	<form method="get" action="folha.pdf">	<button class="btn"><i class="fa fa-download"></i> Download</button></form>
<li>Decreto 4386-A. Trata sobre o transporte escolar no município:</li>	<form method="get" action="decreto.pdf">	<button class="btn"><i class="fa fa-download"></i> Download</button></form>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></ul>
<font style="Verdana" size=5><ul> <b><u>Modelo de Contrato da Associação:</U> <br><br></b>
<li>Contrado Associados: </li>	<form method="get" action="contrato.pdf">	<button class="btn"><i class="fa fa-download"></i> Download</button></form>
<b><h4>Acesse seu banco, entre na opção PIX, selecione a opção de ler QR Code <br>e pague apontando sua câmera para aqui:</h4></b>
<img src="https://acesv.com.br/qrcode.png" width="150" height="150" style="margin-right:50px;"></ul>
<hr style="width:100"><ul>
		<center><U>ITENS ANALISADOS ANTES DA VISTORIA</u></font></center><br>
   

	<font color="black" style="Verdana" size=4>	
		
<li> DECLARAÇAO TRANSFERINDO OS DIREITOS DO ATUAL PROPRIETARIO PARA O
REQUERENTE COM FIRMA RECONHECIDA</li><br>
<li> DOCUMENTO DO VEICULO (CRLV)</li> <br>
<li> RG, CPF, TITULO DE ELEITOR, CARTEIRA DE RESERVISTA</li> <br>
<li> CNH "B" COM EXERCE ATIVIDADE REMUNERADA</li> <br>
<li> CERTIDAO DE PRONTUARIO DA CNH</li> <br>
<li> COMP. DE RESIDÊNCIA EM NOME DO AUTORIZATARIO NO MÁXIMO DE 60 DIAS </li> <br>
<li> ANTECEDENTES CRIMINAIS</li> <br>
<li> ISS CARNE PAGOS EM DIA</li> <br>
<li> LAUDO INMETRO TACOGRAFO</li> <br>
<li> 2 FOTOS 3X4</li> <br>
<center> <br><BR><b><u><font  style="Arial" size=5>
<font size=5 style="Arial">
<center> <br><br><b><u>CALENDÁRIO DE VISTORIA ESCOLAR </u></center><br></font>
<font size=4 style="Arial"></center>
<li><b>Final 1</b> - primeira quinzena de Fevereiro e de Agosto.</li>
<li><b>Final 2</b> - segunda quinzena de Fevereiro e de Agosto.</li>
<li><b>Final 3</b> - primeira quinzena de Março e de Setembro.</li>
<li><b>Final 4</b> - segunda quinzena de Março e de Setembro.</li>
<li><b>Final 5</b> - primeira quinzena de Abril e Outubro.</li>
<li><b>Final 6</b> - segunda quinzena de Abril e Outubro.</li>
<li><b>Final 7</b> - primeira quinzena de Maio e Novembro.</li>
<li><b>Final 8</b> - segunda quinzena de Maio e Novembro.</li>
<li><b>Final 9</b> - primeira quinzena de Junho e Dezembro.</li>
<li><b>Final 0</b> - segunda quinzena de Junho e Dezembro.</li></font>

<ul>Para contatar o Suporte: <a href='mailto:contato@acesv.com.br'></ul>
<font size=4 style="Arial" color="black">
<li><u>Email Aqui</u></a></li>

	</body>

