@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
}


<h1 class="text-danger" style="align-items:center;justify-content:center;display:flex;">@ViewData["Title"]</h1>
<p class="text-danger" style="align-items:center;justify-content:center;display:flex;">Você não é permitido de entrar nesta área.
    Motivo: Você não está logado. Clique&nbsp;<a href="/Identity/Account/Login">aqui</a>&nbsp;para logar.
</p>


