@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de Redefinição de Senha";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Redefinição de Senha</title>
    <link rel="stylesheet" href="/css/mensagem-esqueceusenha.css">
</head>
<body>
    <div class="container-formulario">
        <div class="form-image">
            <img src="/src/logo.png" alt="Logo">
        </div>

        <div class="form">
            <div class="form-header">
                <h1>O link de redefinição de senha foi enviado</h1>
                <h3>Verifique a caixa de entrada do e-mail @Model.Email.</h3>
            </div>
        </div>
    </div>
</body>
</html>
