@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Redefinir Senha";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="/css/telarecuperarsenha.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="formulario">

        <div class="form-image">
            <img src="/src/logo.png" alt="Logo">
        </div>

        <div class="form">
            <form method="post">
                <div class="form-header">
                    <h1>REDEFINIR SENHA</h1>
                    <br />
                    <h3>Um link será enviado para o seu endereço de e-mail para redefinir sua senha.</h3>
                    <br />
                </div>




                <div class="input-group">
                    <div class="input-box">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="E-mail" type="email" id="email" name="email" required>
                        <br />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>

                <div class="enter-bottons">
                    <input type="submit" value="Enviar" class="login-button"><br />
                    <p><a href="Login">Voltar para o login</a></p>
                </div>

            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>