@page
@model Acesvv.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/teladelogin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container-formulario">
        <div class="form-image">
            <img src="/src/logo.png" alt="Logo">
        </div>

        <div class="form">
            <div class="form-header">
                <h1>ÁREA DO ASSOCIADO</h1>
                <h3>Sessão restrita apenas à associados.</h3>
            </div>

            <div class="form-header2">
                <h2>LOGIN</h2>
            </div>

            <form id="account" method="post">
                <div class="input-group">
                    <div class="input-box">
                        <input asp-for="Input.Email" placeholder="Usuário" type="text" autocomplete="username" aria-required="true" required>
                        <i class='bx bx-user'></i>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="input-box">
                        <input asp-for="Input.Password" placeholder="Senha" type="password" autocomplete="current-password" aria-required="true" required>
                        <i class='bx bx-lock-alt'></i>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="enter-buttons">
                        <button id="login-submit" type="submit" class="login-button">Entrar</button>
                        <p class="text-center"><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Criar conta</a></p>
                        <p class="text-center"><a asp-page="./ForgotPassword">Esqueceu sua senha?</a></p>
                        <p class="text-center"><a asp-page="./ForgotUsername">Esqueceu nome de usuário?</a></p>
                    </div>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>