* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container-formulario {
    padding: 5px;
    display: flex;
    box-shadow: 1px 5px 16px rgba(0, 0, 0);
    height: 550px;
    border-radius: 10px;
    justify-content: space-between;
}

.form-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6FC6FF;
    border-radius: 5px;
    width: 40%;
}

    .form-image img {
        width: 350px;
        height: 322px;
    }

.form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    padding: 3rem;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

    .form-header h3 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 16px;
    }

.form-header2 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

    .form-header2 h2 {
        font-size: 24px;
        margin-left: 10px;
    }

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    margin-top: 0;
    border-width: 0px;
    border-bottom-width: 1px;
}

    .input-box input {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
    }

        /* Aqui está a regra para mudar a borda ao focar no input */
        .input-box input:focus {
            border-color: #6FC6FF; /* Muda a cor da borda para uma cor desejada */
            box-shadow: none; /* Remove o brilho azulado padrão */
        }

    .input-box i {
        position: absolute;
        right: 10px;
        top: 40%;
        transform: translateY(-50%);
        font-size: 20px;
        color: #666;
    }

.enter-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.login-button {
    width: 40%;
    height: 25px;
    background-color: #6FC6FF;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

    .login-button:hover {
        background-color: #5BB0E4;
    }

.text-center {
    text-align: center;
    margin: 5px 0;
}
