/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#novoRegistro {
    background-color: #007bff;
    color: white;
    margin-right: 10px;
}

#gerarRelatorio {
    background-color: #f8d7da;
    color: #dc3545;
    border: 1px solid #dc3545;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

button.editar, button.apagar, button.detalhes {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

button.editar {
    background-color: #007bff;
    color: white;
}

button.detalhes {
    background-color: #28a745;
    color: white;
    margin: 0 5px;
}

button.apagar {
    background-color: #f8d7da;
    color: #dc3545;
    border: 1px solid #dc3545;
}

@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th, td {
        text-align: right;
        position: relative;
        padding-left: 50%;
    }

        th::before, td::before {
            content: attr(data-label);
            position: absolute;
            left: 10px;
            white-space: nowrap;
            font-weight: bold;
        }

    th {
        background-color: transparent;
    }

    tbody tr {
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }

    button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}
